a {
    color: #e9e9e9;
    background-color: #1b1b1b;
    font-size: 18px;
    font-family: \'Roboto\', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

h1 {
    text-align: center;
}

html {
    color: #e9e9e9;
    background-color: #1b1b1b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

span {
    vertical-align: middle;
}

.btn {
    margin: 1px;
    width: 20%;
    border-radius: 5px;
    flex-grow: 1;
    background-color: rgb(59, 59, 59);
    color: #e9e9e9;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
    transition-duration: 0.2s;
    text-align: center;
}

.btn:active {
    background-color: rgb(53, 53, 53);

}
.btn:hover {
    background-color: rgb(102, 102, 102);
    color: #e9e9e9;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.container {
    margin: 7vh auto;
    padding: 3px;
    display: flex;
    width: 300px;
    aspect-ratio: 3 / 4;
    flex-direction: column;
    align-items: stretch;
    background-color: #161616;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.display {
    margin: 10px 15px 0px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.display-main {
    flex-grow: 3;
    font-size: 36px;
}

.display-sub {
    flex-grow: 1;
    font-size: 14px;
    margin-top: auto;
}

.footer {
    bottom: 0;
    text-align: center;
    color: #e9e9e9;
}

.number, .light {
    background-color: rgb(82, 82, 82);
}

.numbers {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.operations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#equal {
    background-color: #36e1ff;
    color: #161616;
}

#equal:active {
    background-color: rgb(0, 166, 196);
}

#equal:hover {
    background-color: rgb(0, 185, 218);
}